{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="{%static 'css/style_auth.css'%}" rel="stylesheet">
    <title>newShop</title>
</head>
<body>
    <div class="logo"> <img src="{%static 'images/logo.png'%}" style="display:inline;width:30%"></div>
    <div class="panel panel-default registration">
            <div class="panel-heading" style="background-color:#FFB808">
                로그인
            </div>
            <div class="panel-body">
                <form action="." method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <input 
                            name="{{ field.html_name }}" 
                            id="{{ field.id_for_label }}" 
                            class="form-control id_pwd_inputbox" 
                            type="{{ field.field.widget.input_type }}" 
                            value="{{ field.value|default_if_none:'' }}"
                            >
                            <p>{{field.help_text|linebreaksbr}}</p>
                            {% for error in field.errors %}
                                <label class="control-label" for="{{ field.id_for_label }}" style="color:red" align="center">{{ error }}</label>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="button_group">
                        <button id='login'
                        class="btn btn-dark" 
                        type="submit">로그인
                        </button>

                        <button id='home'
                        class="btn btn-dark" 
                        type="button" 
                        onclick="location.href='{%url 'home'%}'">홈으로
                        </button>

                        <button id='registration' 
                        class="btn btn-dark" 
                        type="button" 
                        onclick="location.href='{%url 'signup'%}'">회원가입
                        </button>

                        <p id="etc"><a href="{%url 'idfind'%}">사용자 이름 </a> 및 <a href="{%url 'pwfind'%}">비밀번호 찾기</a></p>
                    </div>
                </form>
            </div>
    </div>
</body>
</html>