{% extends 'Displayer/index.html' %}
{% load static %}
{% block content %}
    <header>
 		<div class="container">
			<div class="product-image-box">
				<img class="product-image" src="{{product.imgUrl}}" >
			</div>
			<div class="product-info-box">
				<canvas id="myChart" height="60%" ></canvas> 
			</div>
		</div>
		<div class="container">
			<h1> {{product}}</h1>
		</div>
	</header>
	
	<section class="section-api">
		<div class="container">
		<ul>
			<a href="{%url 'api_xlsx' keyword=product%}"><li>XLS 파일 내려받기</li></a>
			<li>Json data 요청하기 : {{apiurl}}{%url 'api_json' keyword=product%}</li>
		</ul>
		</div>
	</section>




 <script src="{%static 'js/Chart.bundle.js'%}"></script>
  	<script> var ctx = document.getElementById('myChart').getContext('2d'); 

  	 var chart = new Chart(ctx, { // 챠트 종류를 선택 
type: 'line', 
// 챠트를 그릴 데이타
 data: {
  labels: {{pr_dt|safe}}, 
  datasets: [
  { label: '{{product}}', 
  backgroundColor: ['rgba(255,0,0,0.2)'], 
  borderColor: 'red', data: {{pr_vl}} }] }, // 옵션 
options: {
  scales: {
        xAxes: [{
            type: 'time',
            time: {
              unit : 'day',
                displayFormats: {
                    day: 'YY.M.D'
                }
            },
            ticks: {
                source: 'data'
            }

        }]                    
    },
  tooltips: {
       callbacks: {
           label: function(tooltipItem) {
               return tooltipItem.xLabel+ Number(tooltipItem.yLabel) + " 사과는 맛있어..";
           }
       }
  }
} });  </script>
{% endblock %}