{% extends 'Displayer/index.html' %}
{% load static %}
{% block content %}
    <header>
 		<div class="container">
			<div class="product-image-box">
				<img class="product-image" src="{%static 'images/apple.png'%}" >
			</div>
			<div class="product-info-box">
				<canvas id="myChart" height="60%" ></canvas> 
			</div>
		</div>
		<div class="container">
			<h1> 사과</h1>
		</div>
	</header>
	
	<section class="section-api">
		<div class="container">
		<ul>
			<li>XLS 파일 내려받기</li>
			<li>Json data 요청하기</li>
			최근 <input class="api-input-box" type="number">개월,&nbsp;&nbsp;&nbsp; <input class="api-input-box" type="number">시간 간격
		</ul>
		</div>
	</section>




 <script src="{%static 'js/Chart.bundle.js'%}"></script>
  	<script> var ctx = document.getElementById('myChart').getContext('2d'); 

  	var chart = new Chart(ctx, { // 챠트 종류를 선택 
type: 'line', 
// 챠트를 그릴 데이타
 data: {
  labels: ["2018-12-07 12:45:17", "2018-12-09 12:45:17", "2018-12-31 12:45:17", "2019-02-07 12:45:17", "2019-04-07 12:45:17", "2019-06-25 12:45:17", "2019-08-30 12:45:17"], 
  datasets: [
  { label: '사과', 
  backgroundColor: ['rgba(255,0,0,0.2)'], 
  borderColor: 'red', data: [0, 10, 5, 2, 20, 30, 45] }] }, // 옵션 
options: {
	scales: {
        xAxes: [{
            type: 'time',
            time: {
            	unit : 'day',
                displayFormats: {
                    day: 'YYHHMM'
                }
            },
            ticks: {
                source: 'data'
            }

        }]                    
    },
	tooltips: {
       callbacks: {
           label: function(tooltipItem) {
               return tooltipItem.xLabel+ Number(tooltipItem.yLabel) + " 사과는 맛있어..";
           }
       }
	}
} }); </script>
{% endblock %}