{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>NewShop</title>
</head>
<body>
        <div class="page-header">
            <table width="100%%">
            <tr>
                <td align="center"> <a href={%url 'home'%}>Home</a></td>
                <td align="center"> <a href={%url 'product'%}>Product</a></td>
                <td align="center"> <a href={%url 'API'%}>API</a></td>
                <td align="center"> <a href={%url 'mypage'%}>MyPage</a></td>
            </tr>
            </table>
        </div>        
        {% block content %}
        <!--아까 home.html은 이 자리에 방금 코드가 추가로 들어간 것과 같음-->
        {% endblock %}
</body>
</html>