{% extends 'Displayer/index.html' %}
{%load static%}
{%load custom_tags%}
{% block content %}
		<header>
			<div class="container-fluid" >
				<div class="slider-container" >
					<div class="owl-slider owl-carousel">
						<div class="item">
							<div class="owl-slider-item">
								<img src="{%static 'images/slider-1.jpg'%}" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-heading">newShop</div>
									<div class="intro-lead-in">품목 최저가 검색 사이트</div>
									<div class="col-md-6">
									<div class="form-group">
										<p class="help-block text-danger"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="owl-slider-item">
								<img src="{%static 'images/slider-2.jpg'%}" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-lead-in">We are the number one</div>
									<div class="intro-heading">Design & Development Agency</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="owl-slider-item">
								<img src="{%static 'images/slider-1.jpg'%}" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-lead-in">We are the number one</div>
									<div class="intro-heading">Design & Development Agency</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--/-----------------------------------------------------------------------Search-----------------------------------------------------------------------/-->
				<div class="dropdown dropdown-class " onclick="search_box_focused();">
					<form action="{%url 'q2key'%}" method="post">
						{% csrf_token %}
						<input type="text" name="query" class="dropdown-class form-control search-box dropdown-toggle" placeholder="Search a product" id="search-box-id" required data-validation-required-message="Please enter what you want to search" autocomplete="off">
						<button type="submit" class="search-icon-button"><img src="{%static 'images/search_icon.png'%}" class="search-icon"></button></form>
					<!-- History -->
					<div id="home-dropdown" class="dropdown-class  dropdown-menu home-dropdown" onclick="home_dropdown_clicked();">
						{%for rec in history%}
							<a class="dropdown-item drop-item-style" href="{%url 'search' keyword=rec.product%}">{{rec.product}}</a><a class="dropdown-delete" href="{%url 'delhist' keyword=rec.product%}">x</a><br>
						{%endfor%}
					</div>
				</div>
			</div>

		</header>

		<section id="about" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Bookmarks</h2>
							<p>bookmarked products</p>
						</div>
					</div>
				</div>
				<div class="row">
					{%if not bookmarks%}
						즐겨찾기한 품목이 없습니다.
					{%endif%}
					{%for pr in bookmarks%}
						<div class="col-md-3 text-center">
							<div class="mz-module">
								<div class="mz-module-about">
									<button class="mypage-bookmarks-delete" name="{{pr.product}}" onclick="location.href='{%url 'delbook' keyword=pr.product next='home'%}'">X</button>
									<img class="mz-image" src="{{pr.product.imgUrl}}" width="100%">
									<h3>{{pr.product}}</h3>
								</div>
								<a class="mz-module-button" name="{{pr.product}}" onclick="location.href='{%url 'search' keyword=pr.product%}'">search</a>
							</div>
						</div>
					{%endfor%}
				</div>
			</div>
			<!-- /.container -->
		</section>

		<section id="features" class="section-features">
			<div class="container">
				<div class="row">
					<div class=" text-center">
						<div class="section-title">
							<h2>Bookmarks Products News</h2>
						</div>
					</div>
				</div>
				<div class="row row-gutter">
					<div class="col-gutter">

						{%if not news%}
							표시할 뉴스가 없습니다.
						{%endif%}
						{%for new in news%}
						<!--최신 3개-->
							<div class="featured-item" id="news-{{forloop.counter0}}" style="display:none;">
								<div class="product-news-date">{{new.date}}</div>
								<div class="featured-text" onclick="location.href='{{new.url}}'">								
									<h4>[{{theme|index:new.subj}}]{{new.title}}</h4>
									<h6>&emsp;&emsp;{{new.piece}} </h6>

								</div>
							</div>
						{%endfor%}					
					</div>
					<button name="more-news" id="more-news" class="more-news" >↓</button>
				</div>
			</div>
		</section>
		<script type="text/javascript">

		var showNews=3;
		$(document).ready(function(){
			for(var i=0; i<showNews; i++){
				$("#news-"+i).fadeIn(500);
			}
		});
		
		$(function(){
			$("#more-news").click(function(e){
				extend = showNews+3;
				for(var i=showNews; i<extend; i++){
					var ea = document.getElementById("news-"+i);
					if(ea==null){
						alert("마지막 뉴스입니다!");
						return 0;
					}
					$("#news-"+i).fadeIn((i-showNews)*900);
				}
				showNews = extend;
				document.location.href="#more-news";
			});
			$('html').click(function(e) {
			 if(!$(e.target).hasClass("dropdown-class")) {
				var el = document.getElementById("home-dropdown");
				el.style.display = "none";
				
			} });

			$("#index-search-box").click(function(e){
				var el = document.getElementById("home-dropdown");
				el.style.display = "inline";
				document.getElementById("search-box-id").focus();
			});

		});

		</script>
{% endblock %}
