{% extends 'Displayer/index.html' %}
{%load static%}
{% block content %}
		<header>
			<div class="container-fluid" >
				<div class="slider-container" >
					<div class="owl-slider owl-carousel">
						<div class="item">
							<div class="owl-slider-item">
								<img src="{%static 'images/slider-1.jpg'%}" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-heading">newShop</div>
									<div class="intro-lead-in">모든 품목 최저가 검색 사이트</div>
									<div class="col-md-6">
									<div class="form-group">
										<p class="help-block text-danger"></p>
										</div>
									</div>
								</div>

									

							</div>
						</div>
						<div class="item">
							<div class="owl-slider-item">
								<img src="{%static 'images/slider-2.jpg'%}" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-lead-in">We are the number one</div>
									<div class="intro-heading">Design & Development Agency</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="owl-slider-item">
								<img src="{%static 'images/slider-1.jpg'%}" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-lead-in">We are the number one</div>
									<div class="intro-heading">Design & Development Agency</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<input type="text" class="form-control search-box" placeholder="Search a product" id="product" required="" data-validation-required-message="Please enter what you want to search">
			
			</div>

		</header>

		<section id="about" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Bookmarks</h2>
							<p>bookmarked products</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<img class="mz-image" src="{%static 'images/dram.png'%}" width="100%">
								<h3>DRAM</h3>
							</div>
							<a class="mz-module-button" name="DRAM" onclick="product_search(this.name);">search</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<img class="mz-image" src="{%static 'images/apple.png'%}" width="100%" height="50%">
								<h3>Apple</h3>
							</div>
							<a class="mz-module-button" name="Apple" onclick="product_search(this.name);">search</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<img class="mz-image" src="{%static 'images/ipad6th.png'%}" width="100%">
								<h3>Ipad</h3>
								<p>6th generation</p>
							</div>
							<a class="mz-module-button" name="Ipad" onclick="product_search(this.name);">search</a>
						</div>
					</div>

					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>

		<section id="features" class="section-features">
			<div class="container">
				<div class="row">
					<div class=" text-center">
						<div class="section-title">
							<h2>Bookmarks Products News</h2>
						</div>
					</div>
				</div>
				<div class="row row-gutter">
					<div class="col-gutter">
						<div class="featured-item">
							<div class="featured-icon"><i class="fa fa-television"></i></div>
							<div class="featured-text" onclick="news_click();">
								<h4>DRAM very very expensive</h4>
								<h6>근래 반도체 시장이 불황을 겪으면서 가격이 폭등하고 있습니다. 해외 증시와 맞물려....</h6>
							</div>
						</div>
						<div class="featured-item">
							<div class="featured-icon"><i class="fa fa-cogs"></i></div>
							<div class="featured-text" onclick="news_click();">
								<h4>Apple is redundant</h4>
								<h6>아침사과, 저녁사과 모두 독사과라는 최근 언론 보도에 따라 사과 수요가 매우 급감하여 가격이 폭락했습니다.</h6>
							</div>
						</div>
						<div class="featured-item">
							<div class="featured-icon"><i class="fa fa-newspaper-o"></i></div>
							<div class="featured-text" onclick="news_click();">
								<h4>Ipad 8th의 출시!</h4>
								<h6>Ipad 8세대의 출시에 따라 6세대는 더이상 프리미엄이 아닙니다. 따라서 가격이 급감합니다!!</h6>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
{% endblock %}
