{% extends 'Displayer/index.html' %}
{% load static %}
{% block content %}
    <header>
		<div class="mypage-profile-background">
			<img class="profile mypage-profile-box" src="{%static 'images/apeach.png'%}" >
			<div class="mypage-name-box"> {{user.username}} 님</div>
		</div>
	</header>
		<div class="container">
			<br>
			<button class="mypage-button" onclick="window.open('{%url 'hp_change'%}', 'mywin','left=20,top=20,width=500,height=400,toolbar=1,resizable=no')">
			휴대폰 번호 변경하기
			</button>
			휴대폰 번호를 등록하면 SMS로 알림을 받을 수 있습니다. 번호 : {{user.handle.phone}}
		</div>
		<br>
		<div class="container">
			<button class="mypage-button" onclick="location.href='/change_pw'">비밀번호 변경</button>
		</div>
	<section id="subscription">
		<div class="container">
		<div class="checkbox-group" style="float:center;">
			{%if user.handle.alarmMethod == 1 or user.handle.alarmMethod == 3 %}
				<label class="mypage-checkbox-label"><input class="mypage-checkbox" type="checkbox" checked onclick="location.href='{%url 'intg' delta=1%}';"> &nbsp; 이메일 알림</label>
			{%else%}
				<label class="mypage-checkbox-label"><input class="mypage-checkbox" type="checkbox" onclick="location.href='{%url 'intg' delta=1%}';"> &nbsp; 이메일 알림</label>
			{%endif%}
			{%if user.handle.alarmMethod >= 2 %}
				<label class="mypage-checkbox-label"><input class="mypage-checkbox" type="checkbox" checked onclick="location.href='{%url 'intg' delta=2%}';"> &nbsp; SMS 알림</label>
			{%else%}
				<label class="mypage-checkbox-label"><input class="mypage-checkbox" type="checkbox" onclick="location.href='{%url 'intg' delta=2%}';"> &nbsp; SMS 알림</label>
			{%endif%}
		</div>
    </div>
	</section>
	<section id="about" class="light-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h3>Bookmarks Management</h3>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				{%for pr in bookmarks%}
						<div class="col-md-3 text-center">
							<div class="mz-module">
								<div class="mz-module-about">
									<button class="mypage-bookmarks-delete" name="{{pr.product}}" onclick="location.href='{%url 'delbook' keyword=pr.product next='mypage'%}'">X</button>
									<img class="mz-image" src="{{pr.product.imgUrl}}" width="100%">
									<h3>{{pr.product}}</h3>
								</div>
								<a class="mz-module-button" name="{{pr.product}}" onclick="location.href='{%url 'search' keyword=pr.product%}'">search</a>
							</div>
						</div>
					{%endfor%}
			</div>
		</div>
		<section id="about" style="background-color:#FFFFFF">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h3>Subscription Products Management</h3>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				{%if not alarms%}
					알림을 원하는 제품이 없습니다.
				{%endif%}
				{%for alarm in alarms%}
						<div class="col-md-3 text-center">
							<div class="mz-module">
								<div class="mz-module-about">
									<img class="mz-image" src="{{pr.product.imgUrl}}" width="100%">
									<h3>{{alarm.product}}</h3>
								</div>
								<a class="mz-module-button" name="{{alarm.product}}"  onclick="window.open('{%url 'alarmset' keyword=product%}','알림 설정','width=600,height=400')">set</a>
							</div>
						</div>
					{%endfor%}
			</div>
		</div>
		<!-- /.container -->
	</section>


{% endblock %}