{% extends 'Displayer/index.html' %}
{% load static %}
{% block content %}
 	<header>
 		<div class="container">
			<div class="product-image-box">
				<img class="product-image" src="{%static 'images/apple.png'%}" >
			</div>
			<div class="product-info-box">
				<h1> 사과</h1>
				<br>
				<div class="product-price-box">
				<h4> 현재 최저: 380g/원 </h4>
				<h4> 평균 : 405g/원 </h4>
				</div>
				<div class="product-subscription-box">
					<button class="subscription_button" onclick="product_subscription();"><img src="{%static 'images/subscription_on.png'%}" style="width:100%"></button>

					<button class="subscription_button" onclick="product_subscription();"><img src="{%static 'images/alarm.png'%}" style="width:150%"></button>
				</div>
			</div>
		</div>
	</header>
	<hr>
    <section id="section-graph">
    	<div class="container" >
    		<canvas id="myChart" height="60%" ></canvas> 
		</div>
	</section>
	<section class="section-product-news">
		<div class="container">
				<div class="row row-gutter">
					<div class="col-gutter">
						<div class="featured-item">
							<div class="featured-icon"><i class="fa fa-television"></i></div>
							<div class="featured-text" onclick="news_click();">
								<h4>건조한 날씨 계속 </h4>
								<h6>건조한 날씨가 계속되어 농가가 울상을 짓고있습니다. 사과는 적정량의 일조량과 수분을 필요로 하는데...</h6>

							</div>
						</div>
						<div class="featured-item">
							<div class="featured-icon"><i class="fa fa-cogs"></i></div>
							<div class="featured-text" onclick="news_click();">
								<h4>Apple is redundant</h4>
								<h6>아침사과, 저녁사과 모두 독사과라는 최근 언론 보도에 따라 사과 수요가 매우 급감하여 가격이 폭락했습니다.</h6>
							</div>
						</div>
						<div class="featured-item">
							<div class="featured-icon"><i class="fa fa-newspaper-o"></i></div>
							<div class="featured-text" onclick="news_click();">
								<h4>Ipad 8th의 출시!</h4>
								<h6>Ipad 8세대의 출시에 따라 6세대는 더이상 프리미엄이 아닙니다. 따라서 가격이 급감합니다!!</h6>
							</div>
						</div>
					</div>
					
				</div>
	</section>
	<section class="section-tip">
		<div class="container">
			<h2>Tip</h2>
			<h3> 이 상품은 날씨, 기후, 정부정책에 영향을 받습니다.</h3>
	</section>
	<section class="section-market">
		<div class="container">
			<h2>가격</h2>
			<h5>인터파크 400g/개</h5>
			<h5>Gmarket 425g/개</h5>
			<h5>11번가 380g/개</h5>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> <!-- 차트 --><script> var ctx = document.getElementById('myChart').getContext('2d'); var chart = new Chart(ctx, { // 챠트 종류를 선택 
type: 'line', 
// 챠트를 그릴 데이타
 data: { labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'], datasets: [{ label: 'My First dataset', backgroundColor: 'transparent', borderColor: 'red', data: [0, 10, 5, 2, 20, 30, 45] }] }, // 옵션 
options: {} }); </script>
{% endblock %}