{% extends 'Displayer/index.html' %}
{% load static %}
{% block content %}
 	<header>
 		<div class="container">
			<div class="product-image-box">
				<img class="product-image" src="{{product.imgUrl}}" >
			</div>
			<div class="product-info-box">
				<h1> {{ product }}</h1>
				<br>
				<div class="product-price-box">
				<h4> 현재 최저: {{low}} 원 </h4>
				<h4> 평균 : {{average}} 원</h4>
				</div>

				<div class="product-subscription-box">
					<button class="subscription_button" onclick="location.href='{%url 'togglebook' keyword=product%}'">
						{%if booked%}
							<img src="{%static 'images/subscription_on.png'%}" style="width:100%">
						{%else%}
							<img src="{%static 'images/subscription_off.png'%}" style="width:100%">
						{%endif%}
					</button>
					{%if alarmed%}
					<button class="subscription_button" onclick="location.href='{%url 'alarmset' keyword=product%}'">
						<img src="{%static 'images/alarm_on.png'%}" style="width:150%">
					</button>
					{%else%}
						<button class="subscription_button" onclick="window.open('{%url 'alarmset' keyword=product%}','알림 설정','width=600,height=400')">
							<img src="{%static 'images/alarm.png'%}" style="width:150%">
						</button>
						{%endif%}
					
				</div>
			</div>
		</div>
	</header>
	<hr>
    <section id="section-graph">
    	<div class="container" >
    		<canvas id="myChart" height="60%" ></canvas> 
		</div>
			<div class="chart-range-form">
				<input id="chart-start" class="product-date-box" type="date">부터,&emsp; <input id="chart-end" class="product-date-box" type="date">까지
				<button id="chart-range"> 기간 설정</button>
			</div>
		</div>
	</section>
	<section class="section-product-news">
		<div class="container">
				<div class="row row-gutter">
					<div class="col-gutter">
						{%if not news%}
							표시할 뉴스가 없습니다.
						{%endif%}

						{%for new in news%}
						<!--최신 3개-->
							<div class="featured-item" id="news-{{forloop.counter0}}" style="display:none;" onclick="location.href='{{new.url}}'">
								<div class="product-news-date">{{new.date}}</div>
								<div class="product-news-contents">
									<h4>{{new.title}}</h4>
									<h6>{{new.piece}} </h6>

								</div>
							</div>
						{%endfor%}					
					</div>
					<button name="more-news" id="more-news" class="more-news" >↓</button>
				</div>
	</section>
	<section class="section-tip">
		<div class="container">
			<h2>Tip</h2>
			<h3> 이 상품은 날씨, 기후, 정부정책에 영향을 받습니다.</h3>
	</section>
	<section class="section-market">
		<div class="container">
			<h2>가격</h2>
			{% for market in market_list %}
				<h5> {{market.market}} <a href="{{market.link}}"> {{market.price}}원 </a></h5>
			{% endfor %}
	</section>

	 <!-- 차트 -->

	 <script src="{%static 'js/Chart.bundle.js'%}"></script>
  	<script> var ctx = document.getElementById('myChart').getContext('2d'); 

  	var chart = new Chart(ctx, { // 챠트 종류를 선택 
type: 'line', 
// 챠트를 그릴 데이타
 data: {
  labels: {{pr_dt|safe}}, 
  datasets: [
  { label: '사과', 
  backgroundColor: ['rgba(255,0,0,0.2)'], 
  borderColor: 'red', data: {{pr_vl}} }] }, // 옵션 
options: {
	scales: {
        xAxes: [{
            type: 'time',
            time: {
            	unit : 'day',
                displayFormats: {
                    day: 'YY.M.D'
                }
            },
            ticks: {
                source: 'data'
            }

        }]                    
    },
	tooltips: {
       callbacks: {
           label: function(tooltipItem) {
               return tooltipItem.xLabel+ Number(tooltipItem.yLabel) + " 사과는 맛있어..";
           }
       }
	}
} }); 

  	var showNews=3;
	$(document).ready(function(){
		for(var i=0; i<showNews; i++){
			$("#news-"+i).fadeIn(500);
		}
	});
	
	$(function(){
		$("#more-news").click(function(e){
			extend = showNews+3;
			for(var i=showNews; i<extend; i++){
				var ea = document.getElementById("news-"+i);
				if(ea==null){
					alert("마지막 뉴스입니다!");
					return 0;
				}
				$("#news-"+i).fadeIn((i-showNews)*900);
			}
			showNews = extend;
			document.location.href="#more-news";
		});

		$("#chart-range").click(function(e) {
			pr_dt = {{pr_dt|safe}};
			pr_vl = {{pr_vl}};
			start_time = $("#chart-start").val();
			end_time = $("#chart-end").val();
			if(start_time=="" || end_time==""){
				alert("시작 날짜와 끝 날짜를 모두 입력하셔야 합니다.");
				return 0;
			}
			if(start_time>end_time){
				alert("검색 범위의 시작 날짜는 끝 날짜보다 이전이어야 합니다.");
				return 0;
			}
			pr_date_arr=[]
			pr_value_arr=[]
			for(var i=0;i<pr_dt.length; i++){
				if(start_time<= pr_dt[i] && pr_dt[i] <= end_time){
					pr_date_arr.push(pr_dt[i]);
					pr_value_arr.push(pr_vl[i]);
				}
				
			}

			chart.data.labels = pr_date_arr;
    		chart.data.datasets[0].data = pr_value_arr;
    		chart.update();
		});
	});


</script>
{% endblock %}