
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

div {
    margin: 0px;
    font-family: "Jeju Gothic","Open Sans", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Raleway", Sans-serif;
    color: #232323;
}

p {
    font-family: 'Open Sans', Sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #444444;
    text-align: center;
}

/*------------------
    Login
------------------*/
label {
    width: 50%;
    text-align: left;
}
.control-label {
    font-size:1rem;
    width: 100%;
}
.button_group{
    width:100%;
    text-align: center;
}

.button_group button:hover{
    text-align: center;
    color:white;
    background-color:#FFB808;
}
.panel.panel-default.registration{
    position: relative;
    top:50px;
}
#etc{
    text-align:left;
    font-size:1rem;
    margin-top:10px;
}
.logo{
    margin-top:1%;
    display : block ;
    text-align:center;
}
.panel-heading{
    text-align:center;
    vertical-align:middle;
    font-weight:700;
    background-color:#FFB808;
}
.id_pwd_inputbox{
    background-color:#EEEEEE;
    color:#000000;
}
input[type="password"] {
font-family: sans-serif !important;
}
/*------------------
    registration
------------------*/

.registration {
    width: 360px;
    margin: 0 auto;
}
p {
    text-align: center;
    font-size: 0.9rem;
}
label {
    width: 50%;
    text-align: left;
    font-size: 1.2rem;
}
.control-label {
    font-size:1rem;
    width: 100%;
}
.registration .form-actions > button {
    width: 100%;
}
.registration .form-actions > button:hover {
    text-align: center;
    color:white;
    background-color:#FFB808;
}
.btn{
    margin-bottom:5px;
}