
/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900);
/* font for headings, text, tags */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

div {
    margin: 0px;
    font-family: "Open Sans", Sans-serif;
    font-family: 'Jeju Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Raleway", Sans-serif;
    color: #232323;
}

p {
    font-family: 'Open Sans', Sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #444444;
    text-align: center;
}

.registration {
    width: 360px;
    margin: 0 auto;
}
label {
    width: 50%;
    text-align: left;
}
.control-label {
    font-size:1rem;
    width: 100%;
}
#btn_group{
    width:100%;
    text-align: center;
}

#btn_group button:hover{
    text-align: center;
    color:white;
    background-color:black;
}
.panel.panel-default.registration{
    position: relative;
    top:50px;
}
#head{
    position: relative;
    top:80px;
    font-size:10rem;
    font-weight:700;
    text-align:center;
}
#etc{
    text-align:left;
    font-size:1rem;
}
.logo{
    margin-top:1%;
    display : block ;
    text-align:center;
}
.panel-heading{
    text-align:center;
}